
.flowcontroltable{
    width: 100%;
    height: 100%;
    margin-top: 2%;
    margin-left: 6%;
}
.first{
    width: 18%;
}
.second{
    width: 19%;
}
.third{
    width: 18%;
}
table tr td,table tr th{
    text-align: center;
}
.btn-define{
    color: #fff !important;
    background-color: #411D86;

}

