<div class="main-wrap">
    <!--导航栏-->
    <nav>
        <div class="main-container">
            <div class="nav-logo">
                <a (click)="login();">
                    <img src="../../assets/img/logo.png">
                </a>
            </div>
            <div class="header-nav">
                <ul class="header-menu">
                    <li class="product-drop" (click)="login();">
                        API管理
                    </li>
                    <li>
                        <a>API组合编排</a>
                    </li>
                    <li>
                        <a>系统性能监控</a>
                    </li>
                    <li (click)="flowcontrol();">
                        <a>流量控制</a>
                    </li>
                    <li (click)="flowcontrol();">
                        <a>路由分发规则</a>
                    </li>
                    <li>
                      <a>SDK打包</a>
                  </li>
                </ul>
            </div>
            <!-- <div class="header-login">
                <ul class="header-menu">
                    <li>
                        <a>控制台</a>
                    </li>
                    <li>
                        <a>注册</a>
                    </li>
                    <li class="loginName" style="display: none;">
                        <a></a>
                    </li>
                    <li class="dingLogin">
                        <a href="../login.html">登录</a>
                    </li>
                    <li class="loginOut">
                        <a>退出</a>
                    </li>
                </ul>
            </div> -->
        </div>
    </nav>
    <!--banner-->
    <div class="produce-message">
        <div class="main-container">
            <div class="banner">
                <div class="banner-title">
                    <h1>中国电信5G能力开放平台---</h1>
                    <h1>API网关管理系统</h1>
                    <p>Special Admin System for small, medium and large API Gateway with very clean and aesthetic style and feel.</p>
                    <a href="javascript:void(0);" id="momentUse" (click)="login();">立即使用</a>
                </div>
            </div>
        </div>
    </div>
  <div class="outmiddle">
    <div class="middle">
      <img src="../../assets/img/telecom/introduce.png">
      <h1>功能模块</h1>
    </div>
  </div>
    <!--产品介绍-->
    <div class="product-introduction">
        <!--帮助文档-->
        <div class="document" id="document">
            <div class="document-content">
                <div class="document-item document-item1">
                 
                    <img src="../../assets/img/telecom/api.jpg">
                  
                    <h4>API管理</h4>
                    
                    <div>提供对原子API和复合API的生命周期管理，可插拔的API接入，支持快速新业务开发</div>
                </div>
                <div class="document-item document-item2">
                    <img src="../../assets/img/telecom/combine.jpeg">
                    <h4>API组合编排</h4>
                  
                    <div>提供灵活易用的图形化界面进行API的动态组合编排</div>
                </div>
                <div class="document-item document-item3">
                    <img src="../../assets/img/telecom/flow.jpg">
                    <h4>流量控制</h4>
                    
                    <div>提供对API级别的流量控制</div>
                </div>
            </div>
            <div class="document-content" style="margin-top: 20px;">
                <div class="document-item document-item5">
                    <img src="../../assets/img/telecom/monitor.jpeg">
                    <h4>健康检查&性能监控</h4>
                   
                    <div>提供准确且利于分析的图表进行集群、容器、系统级、API级四个维度的监控</div>
                </div>
                <div class="document-item document-item4">
                    <img src="../../assets/img/telecom/docker.jpeg">
                    <h4>水平扩展</h4>
                    
                    <div>所有模块可水平扩展，实现系统自动化分布式拓展，增大系统吞吐量
                      </div>
                </div>
                <div class="document-item document-item1">
                    <img src="../../assets/img/telecom/router.jpg">
                    <h4>路由配置</h4>
                  
                    <div>灵活的配置路由策略，可根据调用信息快速调用</div>
                </div>
            </div>
        </div>
    </div>
    <!--底部-->
    <div class="footer">
        <p>Copyright © 2018 PCN&CAD, BUPT. All rights reserved.</p>
    </div>
</div>
